In [3]:
from pybaseball import statcast_batter_expected_stats


# get data for batters with a minimum of 150 plate appearances in 2019
data = statcast_batter_expected_stats(2019, 150)

/Users/chunghaolee/Library/Python/3.9/lib/python/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(
Matplotlib is building the font cache; this may take a moment.

In [7]:
from pybaseball import playerid_reverse_lookup

# a list of mlbam ids
player_ids = [116539, 116541, 641728, 116540]

# find the names of the players in player_ids, along with their ids from other data sources
data = playerid_reverse_lookup(player_ids, key_type='mlbam')

Gathering player lookup table. This may take a moment.

In [8]:
data

,name_last,name_first,key_mlbam,key_retro,key_bbref,key_fangraphs,mlb_played_first,mlb_played_last
0,jeter,shawn,116541,jetes001,jetersh01,1006406,1992.0,1992.0
1,jeter,derek,116539,jeted001,jeterde01,826,1995.0,2014.0
2,jeter,johnny,116540,jetej101,jeterjo01,1006405,1969.0,1974.0